<h1 class="w3-container">Edit Destination</h2>

<h5>Please fill out both fields to edit destination.</h5>
<form class="w3-container" action="/destinations/<%= @dest.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <label for="city">City: </label>
  <input class="w3-input w3-border" style="width:40%" type="text" name="city" id="city" value="<%= @dest.city %>">

  <label for="country">Country: </label>
  <input class="w3-input w3-border" style="width:40%" type="text" name="country" id="country" value="<%= @dest.country%>"><br>

  <input type="submit" class="w3-btn w3-black" value="Edit Destination">
</form>

<br>

<h5>Would you like to delete this destination?</h5>
<form class="w3-container" action="/destinations/<%= @dest.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="w3-btn w3-black" value="Delete Destination?">
</form>

<br><br>
<a href="/users/<%= current_user.id %>" class="w3-btn w3-black">User Profile</a>
<a href="/destinations" class="w3-btn w3-black">Destinations</a>
<a href="/logout" class="w3-btn w3-red">Log Out</a>
