<h1 class="w3-container">Destination Index</h1>

<div class="w3-ul w3-card-2">
  <% @destinations.each do |dest| %>
    <li>
      <a href="/destinations/<%= dest.id %>" class="w3-btn w3-hover-sand">
        <%= dest.city.upcase %>, <%= dest.country.upcase %>
      </a>
      <a href="/destinations/<%= dest.id %>/edit"> - Edit or Delete</a>
    </li>
  <% end %>
</div>
<br>
<a href="/users/<%= current_user.id %>" class="w3-btn w3-black">User Profile</a>
<a href="/destinations/new" class="w3-btn w3-black">New Destination</a>
<a href="/logout" class="w3-btn w3-black">Log Out</a>